body {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #F5F5F5;
}

.item-form {
    background-color: white;
    padding: 25px;
    width: 350px;
    margin: 75px auto 0px auto;
    border-radius: 10px;
      -moz-border-radius: 10px; /* firefox */
      -webkit-border-radius: 10px; /* safari, chrome */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.col:last-child {
    flex: 2 0;
}

.btn-container {
    text-align: right;
}

.txtarea {
    resize: vertical;
    min-height: 30px;
}

.pic-label {
    border-radius: 4px;
	border: 1px solid #d1d1d1;
    width: 100%;
    padding: 3px 5px;
    cursor: pointer;
    transition: all 0.25s;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    color: #525865;
}

.pic-label:hover {
    background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

.topnav {
    padding: 4px 0px 0px 10px;
    background-color: #333;
    width: 100%;
    height: auto;
    display: inline-block;
    position: fixed;
    top: 0;
}

.bar {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

.menu-trigger {
    display: inline-block;
    background: #dfe5eb;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

input[type=text] {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

input[type=text]:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

textarea {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

textarea:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

select {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

select:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}