div.carousel-container {
	padding: 10px;
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 100px;
	white-space: nowrap;
	overflow: scroll;
	overflow-y: hidden;
	z-index: -1;
	border: 1px solid #D0D0D0;
}

div.carousel-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

div.carousel-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #428bca;
}

div.box {
	display: inline-block;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #D0D0D0;
	border-radius: 0px 0px 25px 0px;
}

.pic {
	display: blocK;
	width: auto;
	height: auto;
}

img {
	display: block;
	width: 100%;
	height: auto;
	display: block;
}

.title {
	display: block;
	width: auto;
	height: auto;
	background-color: #428bca;
	padding: 5px;
	color: #fff;
}

.text {
	display: block;
	width: auto;
	height: 150px;
	background-color: #fff;
	padding: 5px;
}

.btn {
	width: auto;
	height: auto;
	padding: 5px;
}
