*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

img {
	height: 200px;
}

#wrap{
	display: inline-block;
	max-width: 1100px;
	min-width: 1100px;
	margin-left: 20px;
	width: auto;
}

.columns_2 figure{
   width:49%;
   margin-right:1%;
}

.columns_2 figure:nth-child(2){
	margin-right: 0;
}

.columns_3 figure{
   width:32%;
   margin-right:1%;
}

.columns_3 figure:nth-child(3){
	margin-right: 0;
}

.columns_4 figure{
   width:24%;
   margin-right:1%;
}

.columns_4 figure:nth-child(4){
	margin-right: 0;
}

.columns_5 figure{
   width:19%;
   margin-right:1%;
}

.columns_5 figure:nth-child(5){
	margin-right: 0;
}

#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}

div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height: 30px;
  font-weight:600;
  text-overflow:ellipsis;
}

.price {
	height: 60px;
}

input[type=submit] {
	padding:10px;
  	background: #428bca;
  	margin: 10px 10px 10px 0px;
  	display:block;
  	text-align:center;
  	color:#fff;
  	transition:all 1s linear;
  	text-decoration:none;
  	text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  	border-radius:3px;
  	border-bottom:3px solid #0080C0;
  	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
  	width: 70px;
}

input[type=submit]:hover {
	background:#0080C0;
  	border-bottom:3px solid #428bca;
  	color:#f1f2f3;
}

@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
}

@media screen and (max-width: 767px) {
  #columns figure { width:32%;}
}

@media screen and (max-width: 600px) {
  #columns figure { width: 49%;}
}

@media screen and (max-width: 500px) {
  #columns figure { width: 100%;}
}

#myInput {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#filter {
	display: inline-block;
	padding: 5px;
	margin-top: 0px;
	width: 30%;
	max-width: 200px;
	
	float: left;
	border-right: 1px solid #ccc;
}

.main {
	margin-top: 150px;
	display: block;
	margin-left: 15px;
	margin-right: 10px;
	max-width: 1331px;
	max-height: 1228px;
	min-width: 1331px;
	min-height: 1228px;
	z-index: -1;
}

.categories {
	padding: 5px;
}

.show {
	padding: 5px;
}

.auction-type {
	padding: 5px;
}

#send {
	margin-bot: 10px;
}
