body {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #F5F5F5;
}

.item-form {
    background-color: white;
    padding: 25px;
    width: 360px;
    margin: 75px auto 0px auto;
    border-radius: 10px;
      -moz-border-radius: 10px; /* firefox */
      -webkit-border-radius: 10px; /* safari, chrome */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.col:last-child {
    flex: 2 0;
}

.btn-container {
    text-align: right;
    display: flex;
}

.txtarea {
    resize: vertical;
    min-height: 30px;
}

.pic-label {
    border-radius: 4px;
	border: 1px solid #d1d1d1;
    width: 100%;
    padding: 3px 5px;
    cursor: pointer;
    transition: all 0.25s;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    color: #525865;
}

.pic-label:hover {
    background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

input[type=text] {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

input[type=text]:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

input[type=password] {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

input[type=password]:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

input[type=date] {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

input[type=date]:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

input[type=email] {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

input[type=email]:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

input[type=time] {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

input[type=time]:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

textarea {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

textarea:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

select {
	background: #fff;
	color: #525865;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
	font-family: inherit;
	font-size: 1em;
	line-height: 1.45;
	outline: none;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
}

select:hover {
	background-color: rgba(0,0,0,0.125);
    transition: all 0.25s;
}

button {
	color: #fff;
    background: #428bca;
    border: 1px solid;
    border-color: #357ebd;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    -moz-border-radius: 6px; /* firefox */
    -webkit-border-radius: 6px; /* safari, chrome */
    font-family: inherit;
	font-size: 1em;
	padding: 1px 1px 1px;
	-webkit-transition: .18s ease-out;
	-moz-transition: .18s ease-out;
	-o-transition: .18s ease-out;
	transition: .18s ease-out;
	float: left;
	margin-top: 2px;
}

button:hover {
	background: #0080C0;
}

#register-button {
	color: #fff;
	padding: 10px 16px; 
	font-size: 18px;
    background: #428bca;
    border: 1px solid;
    border-color: #357ebd;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    -moz-border-radius: 6px; /* firefox */
    -webkit-border-radius: 6px; /* safari, chrome */	
    display: inline-block;
    margin-left: auto;
}

input[type=submit] {
	color: #fff;
	padding: 10px 16px; 
	font-size: 18px;
    background: #428bca;
    border: 1px solid;
    border-color: #357ebd;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    -moz-border-radius: 6px; /* firefox */
    -webkit-border-radius: 6px; /* safari, chrome */
}

input[type=submit]:hover {
	background: #0080C0;
}

#category-container {
	text-align: left;
	display: inline-block;
}

.remove {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

.remove:hover {
	cursor:pointer;
}

.category {
	border: 1px solid #A8A8A8;
	padding: 5px;
	-webkit-border-radius: 8px;
    border-radius: 8px; 
    -moz-border-radius: 8px; /* firefox */
    -webkit-border-radius: 8px; /* safari, chrome */
    font-size: 10px;
    display: table;
    text-align: center;
    margin-top: 3px;
    float: left;
    margin-left: 3px;
}

.cat-text {
	display: inline-block;
}